{% extends 'user_base.html.twig' %}



{% block h_pageLevelPlugins %}
    <link href="{{ asset('assets/global/plugins/icheck/skins/all.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block h_pageLevelStyles %}
{% endblock %}
{% block h_themeGlobalStyles %}
    <link href="{{ asset('assets/global/css/components.min.css') }}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{{ asset('assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block h_themeLayoutStyles %}
    <link href="{{ asset('assets/layouts/layout/css/layout.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/layouts/layout/css/themes/darkblue.min.css') }}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{{ asset('assets/layouts/layout/css/custom.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block sideBar %}
    {{ parent() }}
{% endblock %}
{% block pageBar %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">首页</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>会员管理</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>权限列表</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle"
                        data-toggle="dropdown"> 快捷菜单
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> 公告</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> 规则</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> 个人中心</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> 计划任务</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageTitle %}
    <h1 class="page-title"> 权限列表 | 会员设置
        <small></small>
    </h1>
{% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-globe font-green"></i>
                        <span class="caption-subject font-green bold ">[{{ userObj.username }}]权限列表</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="tab-content">

                        <div class="tab-pane active">
                            <div class="skin skin-line">
                                <form role="form">
                                    <div class="form-body ">
                                        <div class="form-group hide">
                                            <label>颜色</label>
                                            <div class="input-group">
                                                <ul class="icheck-colors">
                                                    <li></li>
                                                    <li class="red"></li>
                                                    <li class="green active"></li>
                                                    <li class="blue"></li>
                                                    <li class="aero"></li>
                                                    <li class="grey "></li>
                                                    <li class="orange"></li>
                                                    <li class="pink"></li>
                                                    <li class="purple"></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12 hide">
                                                <h3>全局权限</h3>
                                            </div>

                                            <div class="col-md-4 hide">

                                                <div class="input-group">
                                                    <div class="icheck-list">
                                                        <label for="">
                                                            <input type="checkbox" class="icheck"
                                                                   data-checkbox="icheckbox_line-pink"
                                                                   data-label="查看列表(所有模块)">
                                                        </label>
                                                        <label for="">
                                                            <input type="checkbox" class="icheck"
                                                                   data-checkbox="icheckbox_line-green"
                                                                   data-label="增加模块">
                                                        </label>
                                                        <label for="">
                                                            <input type="checkbox" class="icheck"
                                                                   data-checkbox="icheckbox_line-red"
                                                                   data-label="修改模块(所有模块)">
                                                        </label>
                                                        <label for="">
                                                            <input type="checkbox" class="icheck"
                                                                   data-checkbox="icheckbox_line-grey"
                                                                   data-label="删除模块(所有模块)">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="portlet box blue">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-gift"></i>
                                                            <span>模块默认权限</span>
                                                        </div>
                                                        <div class="tools">
                                                            <a href="javascript:;" class="expand" data-original-title=""
                                                               title=""> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="icheck-line">
                                                            <label for="">

                                                                <input type="checkbox" id="mod0"
                                                                       {% if each_modAuthor_arr[0] %}checked="checked" {% endif %}
                                                                       class="icheck"
                                                                       data-checkbox="icheckbox_line-green"
                                                                       data-label="显示模块">
                                                            </label>
                                                            <label for="">
                                                                <input type="checkbox" id="mod1"
                                                                       {% if each_modAuthor_arr[1] %}checked="checked" {% endif %}
                                                                       class="icheck"
                                                                       data-checkbox="icheckbox_line-green"
                                                                       data-label="新增/修改模块">
                                                            </label>
                                                            <label for="">
                                                                <input type="checkbox" id="mod2"
                                                                       {% if each_modAuthor_arr[2] %}checked="checked" {% endif %}
                                                                       class="icheck"
                                                                       data-checkbox="icheckbox_line-green"
                                                                       data-label="删除模块">
                                                            </label>
                                                            <label for="">
                                                                <input type="checkbox" class="icheck" id="data0"
                                                                       {% if each_dataAuthor_arr[0] %}checked="checked" {% endif %}
                                                                       data-checkbox="icheckbox_line-purple"
                                                                       data-label="查看列表">
                                                            </label>
                                                            <label for="">
                                                                <input type="checkbox" class="icheck" id="data1"
                                                                       {% if each_dataAuthor_arr[1] %}checked="checked" {% endif %}
                                                                       data-checkbox="icheckbox_line-purple"
                                                                       data-label="添加/修改数据">
                                                            </label>

                                                            <label for="">
                                                                <input type="checkbox" class="icheck" id="data2"
                                                                       {% if each_dataAuthor_arr[2] %}checked="checked" {% endif %}
                                                                       data-checkbox="icheckbox_line-purple"
                                                                       data-label="删除数据">
                                                            </label>
                                                        </div>
                                                        <div class="huo15-save">
                                                            <a href="" id="defaultAuthorBtn" class="btn green">保存</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>模块权限</h3>

                                                {% for key, module in modulesAndAuthor %}
                                                    <div class="  modsAndAuthorClass" mod-data="{{ module.module.id }}">
                                                        <div class="">
                                                            <div class="portlet box {% if key%4 == 0 %}red{% elseif key%4 == 1 %}green{% elseif key%4 == 2 %}blue{% elseif key%4 == 3 %}purple{% endif %}">
                                                                <div class="portlet-title">
                                                                    <div class="caption">
                                                                        <i class="fa fa-gift"></i>{{ module.module.name }}
                                                                    </div>
                                                                    <div class="tools">
                                                                        <a href="javascript:;" class="expand"
                                                                           data-original-title="" title=""> </a>
                                                                    </div>
                                                                </div>
                                                                <div class="portlet-body" style="display: none;">
                                                                    <div class="icheck-line">

                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck mod0" {% if module.each_mod_author[0] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-green"
                                                                                   data-label="显示模块">
                                                                        </label>
                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck mod1" {% if module.each_mod_author[1] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-green"
                                                                                   data-label="修改模块">
                                                                        </label>
                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck mod2" {% if module.each_mod_author[2] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-green"
                                                                                   data-label="删除模块">
                                                                        </label>
                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck data0" {% if module.each_data_author[0] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-purple"
                                                                                   data-label="查看列表">
                                                                        </label>
                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck data1" {% if module.each_data_author[1] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-purple"
                                                                                   data-label="添加/修改数据">
                                                                        </label>

                                                                        <label for="">
                                                                            <input type="checkbox" class="icheck data2" {% if module.each_data_author[2] %}checked="checked" {% endif %}
                                                                                   data-checkbox="icheckbox_line-purple"
                                                                                   data-label="删除数据">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>

                                        </div>


                                    </div>
                                    <div class="form-actions">
                                        <a id="modsAutorSave" class="btn blue">确认</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# 底部js和css加载 #}
{% block pageLevelPlugins %}
    <script src="{{ asset('assets/global/plugins/icheck/icheck.min.js') }}" type="text/javascript"></script>
{% endblock %}
{% block pageLevelScripts %}
    <script src="{{ asset('assets/pages/scripts/form-icheck.min.js') }}" type="text/javascript"></script>
{% endblock %}
{% block themeLayoutScript %}
    <script src="{{ asset('assets/layouts/layout/scripts/layout.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/layouts/layout/scripts/demo.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
{% endblock %}


{% block huo15fix %}
    <style>
        .page-content {
            background: #eef1f5;
        }
    </style>
    <script>
        $(function () {
            $('#modsAutorSave').click(function(e) {
                e.preventDefault();

                var userId = {{ userObj.id }};
                var mod = {};
                var modAuthor = {};
                $('.modsAndAuthorClass').each(function(index, element) {
                    var key = $(this).attr('mod-data');
                    mod[key] =[];
                    if ($(this).find('.mod0').parent().hasClass('checked')) {
                        mod[key][0] = 4;

                    } else {
                        mod[key][0] = 0;

                    }
                    if ($(this).find('.mod1').parent().hasClass('checked')) {
                        mod[key][1] = 2;

                    } else {
                        mod[key][1] = 0;

                    }
                    if ($(this).find('.mod2').parent().hasClass('checked')) {
                        mod[key][2] = 1;

                    } else {
                        mod[key][2] = 0;

                    }

                    mod[key] = mod[key][0] + mod[key][1] + mod[key][2];

                    modAuthor[key] = [];

                    if ($(this).find('.data0').parent().hasClass('checked')) {
                        modAuthor[key][0] = 4;

                    } else {
                        modAuthor[key][0] = 0;

                    }
                    if ($(this).find('.data1').parent().hasClass('checked')) {
                        modAuthor[key][1] = 2;

                    } else {
                        modAuthor[key][1] = 0;

                    }
                    if ($(this).find('.data2').parent().hasClass('checked')) {
                        modAuthor[key][2] = 1;

                    } else {
                        modAuthor[key][2] = 0;

                    }
                    modAuthor[key] = modAuthor[key][0] + modAuthor[key][1] + modAuthor[key][2];

                });
                $.post(
                        "{{ path('userModAuthorSave') }}",
                        {
                            'userId' : userId,
                            'mod' : mod,
                            'modAuthor' : modAuthor
                        },
                        function(res) {
                            console.log(res);
                            if (res.flag) {
                                alert(res.msg);
                            } else {
                                alert('保存失败!');
                            }
                        },
                        'json'
                );



            });
            $('#defaultAuthorBtn').click(function(e) {
                var mod = [];
                if ($('#mod0').parent().hasClass('checked')) {
                    mod[0] = 4;
                } else {
                    mod[0] =0;
                }
                if ($('#mod1').parent().hasClass('checked')) {
                    mod[1] = 2;
                } else {
                    mod[1] = 0;
                }
                if ($('#mod2').parent().hasClass('checked')) {
                    mod[2] = 1;
                } else {
                    mod[2] = 0;
                }

                var modAuthor = mod[0] + mod[1] + mod[2];
                var dataAuthor = [];
                if ($('#data0').parent().hasClass('checked')) {
                    dataAuthor[0] = 4;
                } else {
                    dataAuthor[0] =0;
                }
                if ($('#data1').parent().hasClass('checked')) {
                    dataAuthor[1] = 2;
                } else {
                    dataAuthor[1] = 0;
                }
                if ($('#data2').parent().hasClass('checked')) {
                    dataAuthor[2] = 1;
                } else {
                    dataAuthor[2] = 0;
                }

                var dataAuthor = dataAuthor[0] + dataAuthor[1] + dataAuthor[2];
                e.preventDefault();
                $.post(
                        "{{ path('app_user_userajax_defaultauthorsave') }}",
                        {
                            'each_mod_author' : modAuthor,
                            'each_data_author' : dataAuthor
                        },
                        function(res) {
                            console.log(res);
                            if (res.flag) {
                                alert(res.msg);
                            } else {
                                alert('保存失败!');
                            }
                        },
                        'json'
                );
            });
        })
    </script>

{% endblock %}