{% extends 'user_base.html.twig' %}

{% block h_pageLevelPlugins %}
{% endblock %}

{% block h_themeGlobalStyles %}
    <link href="{{ asset('assets/global/css/components.min.css') }}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{{ asset('assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/pages/css/coming-soon.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block h_pageLevelStyles %}
    <link href="{{ asset('/assets/pages/css/profile.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href="index.html">
                    <img src="{{ asset('assets/layouts/layout/img/logo.png') }}" alt="logo"/> </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 coming-soon-content">
                <h1>{{ headTitle }}</h1>
                <p> {{ content }} </p>
                <p> 请点击<a id="huoi15backurlA" style="color:pink;" href="{{ backUrl }}">立即返回(倒计时 <span id="huo15Second"></span>秒)</a>链接返回页面. </p>
                <input type="hidden" id="huo15backurl" value="{{ backUrl }}">
                <br>
                <form class="form-inline" action="#">
                    <div class="input-group input-group-lg input-large">
                        <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn green" type="button"> 反馈留言</button>
                            </span>
                    </div>
                </form>
                <ul class="social-icons margin-top-20">
                    <li>
                        <a href="javascript:;" data-original-title="Feed" class="rss"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Facebook" class="facebook"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Twitter" class="twitter"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Goole Plus" class="googleplus"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Pinterest" class="pintrest"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Linkedin" class="linkedin"> </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="Vimeo" class="vimeo"> </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 coming-soon-countdown">
                <div id="defaultCountdown"></div>
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer"> 2016 &copy; QDCMS. success page.</div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="{{ asset('assets/global/plugins/respond.min.js') }}"></script>
    <script src="{{ asset('assets/global/plugins/excanvas.min.js') }}"></script>
    <![endif]-->

    {% block bottom %}
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"
                type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% block pageLevelPlugins %}
        <script src="{{ asset('assets/global/plugins/countdown/jquery.countdown.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/global/plugins/backstretch/jquery.backstretch.min.js') }}" type="text/javascript"></script>
    {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ asset('assets/global/scripts/app.min.js') }}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
    {% block pageLevelScripts %}
        <script src="{{ asset('assets/pages/scripts/coming-soon.min.js') }}" type="text/javascript"></script>
    {% endblock %}
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
    {% block themeLayoutScript %}
        <script src="{{ asset('assets/layouts/layout/scripts/layout.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/layouts/layout/scripts/demo.min.js') }}" type="text/javascript"></script>
    {% endblock %}
        <!-- END THEME LAYOUT SCRIPTS -->
        <!-- BEGIN HUO15FIX -->
    {% block huo15fix %}
        <style>
            .page-content {
                background: #eef1f5;
            }
        </style>
    {% endblock %}
        <!--END HUO15FIX-->
    {% endblock %}
    </body>
{% endblock %}
